{{#if guest}}
<h2>{{guest.name}} is coming to the wedding! His/Her is related to the couple as a {{guest.relation}}!</h2>
{{else}}
<h2>That guest is not coming to the wedding!</h2>
{{else}}

<form action="/guests/{{guest.name}}" method="post">
  <input type="text" name="guest[name]" placeholder="Name" value="{{guest.name}}" />
  <input type="text" name="guest[relation]" placeholder="Relation to the Couple" value="{{guest.relation}}"/>
  <button type="submit">Edit Guest</button>
</form>
{{/unless}}
